

body {
    background-color: #ffffff;
}

li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: forestgreen;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
}

li a:hover:not(.active) {
    background-color: #111;
}
S
.active {
    background-color: #4CAF50;
}