* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

nav {
    display: flex;
}
header {
    background-color: cadetblue;
}



nav ul {
    background-color: blueviolet;
    flex: 2;
    padding: 0px;
}
nav p {
    background-color: dodgerblue;
    padding: 30px 0px 20px 40px;
    flex: 5;
}
nav li {
    list-style-type: none;
}


.pokus {
    width: 20em;
    background-color: cornsilk;
    border: 2px solid brown;
    display: inline-block;
    position: fixed;
    top: 44px;
    left: 80px; 
}
  
@media screen and (max-width: 790px) {
    .global {
        margin: 1em;
    }
}
