<!DOCTYPE html>
<html lang="cs">
<head>
  <title>FORMULÁŘE {{title}}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" 
        href="{{url_for('static', filename='styles.css')}}">
</head>




<header>

FORMULÁŘE




</header>
<body>

<nav>
  
  <ul>
    <li><a href="{{url_for('index')}}">Index</a></li>
    <li><a href="{{url_for('obdelnik')}}">Obdelník</a></li>
    <li><a href="{{url_for('kruh')}}">Kruh</a></li>
    <li><a href="{{url_for('ctverec')}}">Čtverec</a></li>
    <li><a href="{{url_for('tajne')}}">Tajné</a></li>
  </ul>




</nav>

{% block obsah %}
<main>







</main>
{% endblock obsah%}

<footer>
</footer>

</body></html>