
{% extends "base.html.j2" %}


{% block obsah %}

<p>Ctverec</p>
<form method='get'>
  <input type="text" placeholder="strana a:" name="x" value="{{request.args.get('x') or ''}}" /><br>
  <input type="submit" name="tlac" value="Submit"/>
</form>

Obvod: {{n}} jednotek&#xB2<br>
Obsah: {{z}} jednotek

{% endblock obsah %}