{% extends "base.html.j2" %}

{% block obsah %}
<p> Tady nic není</p>
<div class="jo2">
    <img src="{{url_for('static', filename='jo1.png')}}" alt="#" style="width:55px;height:55px"/>
</div>

{% endblock obsah %}